body{
	font-family: "Open Sans", helvetica, sans-serif;
}
#header{
	font-family: "Raleway", sans-serif;
	border: 1.5px solid #a1a1a1;
	border-radius: 6px;
	padding: 4px;
	position: absolute;
	right:5px;
	top:3px;
}

li{
	text-decoration: underline;
	color:#0000FF;
}

#footer{

}